In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

import tensorflow as tf

#  Import and read the charity_data.csv.


import psycopg2
import pandas as pds
from sqlalchemy import create_engine

conn = psycopg2.connect(dbname='postgres', user='postgres', password='bootcamp', host='localhost', port='5432')
clean_data_df = pds.read_sql("select * from \"cleaned_data\"", conn);
clean_data_df.set_index('index')
                  
                  
# clean_data_df = pd.read_csv("cleaned_data.csv", index_column="Unnamed:0")
# clean_data_df.head()

,enrollee_id,city_development_index,training_hours,target,gender_Female,gender_Male,gender_Other,relevent_experience_Has_relevent_experience,relevent_experience_No_relevent_experience,enrolled_university_Full_time_course,...,company_type_NGO,company_type_Other,company_type_Public_Sector,company_type_Pvt_Ltd,last_new_job_1,last_new_job_2,last_new_job_3,last_new_job_4,last_new_job_>4,last_new_job_never
index,,,,,,,,,,,,,,,,,,,,,
1,29725,0.776,47,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,666,0.767,8,0,0,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7,402,0.762,18,1,0,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
8,27107,0.920,46,1,0,1,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0
11,23853,0.920,108,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8938,35,0.926,15,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
8940,26639,0.624,13,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
8943,28262,0.890,37,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
8950,27867,0.939,66,0,0,1,0,0,1,1,...,0,0,0,1,1,0,0,0,0,0
8952,345,0.920,15,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = clean_data_df["target"].values
X = clean_data_df.drop(["target"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)